* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-neutrals-white: white;
    --color-neutrals-black: black;
    --color-neutrals-light: #8C8C8C;
    --color-neutrals-base: #696969;
}

.container {
    max-width: ;
}

